$main-color: #4A919E;
$main-bg-color: #f6f6f6;
$second-bg-color: #E8EFF1;
$third-bg-color: #5FA7B4;
$hover-bg-color: #64c6d7;
$input-bg-color: #ECF2F7;


$white-color: #FFFFFF;
$pink-color: #EBA2D8;
$orange-color: #EBACA2;

$first-font-color: #19191B;
$second-font-color: #343434;
$third-font-color: #626262;